@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #0A1738;
}
@keyframes navin {
    0%{
        transform: translateX(100vw);
        display: flex;
        border-radius: 100%;
    }
    40%{
        transform: translateX(90vw);
        border-radius: 100%;
    }
    100%{
        transform: translateX(0vw);
    }
}
@keyframes navout {
    0%{
        transform: translateX(0vw);
    }
    40%{
        transform: translateX(10vw);
        border-radius: 10%;
    }
    100%{
        transform: translateX(100vw);
        border-radius: 90%;
    }
}
@keyframes textin{
    0%{
        transform: translateX(100vw);
        opacity: 0%;
    }
    60%{
        opacity: 0%;
    }
    
}
.navin{
    animation: navin ease-in-out 1s;
    display: flex;
}
.navout{
    animation: navout ease-in-out 1s forwards;
}
.first{
    animation: textin 1s;
}
.second{
    animation: textin 1.3s;
}
.third{
    animation: textin 1.7s;
}
.fourth{
    animation: textin 1.8s;
}
@media only screen and (min-width:1200px) {
    @keyframes navout {
        0%{
            transform: translateX(60vw);
            
        }
        40%{
            transform: translateX(70vw);
            border-radius: 10%;
        }
        100%{
            border-radius: 70%;
            transform: translateX(100vw);
        }
    }
    @keyframes navin {
        0%{
            transform: translateX(100vw);
            border-radius: 40%;
        }
        40%{
            transform: translateX(95vw);
            border-radius: 40%;
        }
        100%{
            transform: translateX(60vw);
        }
    }
    .navin{
        animation: navin ease-in-out 1s forwards;
    }
    .navout{
        animation: navout ease-in-out 1s forwards;
    }
    
}
@keyframes floating{
    from{
        transform: translateY(0) rotate(40deg);
    }
    to{
        transform: translateY(20px) rotate(40deg);
    }
}
.floating{
    animation: floating 2s infinite alternate ease-in-out;
}
.image-bg{
    background-image: url("https://wallpapersmug.com/large/4d7d03/light-colors-geometric-pattern-abstract.jpg");
    background-clip: text;
    background-position: center;
    background-size:cover ;
    color: transparent;
    -webkit-background-clip: text;
}
body::-webkit-scrollbar {
    display: none;
  }